<%- include("../partials/admin-header.ejs"); -%>
        <h2 class="mb-4">Services</h2>



<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1562654501-a0ccc0fc3fb1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXNzaWdubWVudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Assignment</h5>
          <p>Give Assignment </p>
        </div>
        <div class="card-body">
          <a href="/admin-assign-assignment" class="card-link">Go</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF4Lj-ChA_eIisdGA9KzVOha5lLv8jrrDinA&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Quiz</h5>
          <p class="card-text">Make a Quiz.</p>
        </div>
        <div class="card-body">
          <a href="/makeQuiz" class="card-link">Go</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://www.zohowebstatic.com/sites/default/files/cliq-primetime-banner-right.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Class</h5>
          <p class="card-text">Make a Online Class.</p>
        </div>
        <div class="card-body">
          <a href="/meet" class="card-link">Create</a>
        </div>
      </div>
    </div>
  </div>
</div>




      <%- include("../partials/admin-footer.ejs"); -%>
