<%- include("./partials/classes-header.ejs"); -%>
    <div class="container">
    <div class="main-body">
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Dashboard</a></li>

            </ol>
          </nav>
          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>Amit Potdukhe</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     Amit Potdukhe
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      potdukheamit@gmail.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      935255555555
                    </div>
                  </div>
                  <hr>


                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Wardha, Maharastra India
                    </div>
                  </div>
                </div>
              </div>
      


        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1562654501-a0ccc0fc3fb1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXNzaWdubWVudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Assignment</h5>
                  <p>View Assignment </p>
                </div>
                <div class="card-body">
                  <a href="/view-assignment" class="card-link">View</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF4Lj-ChA_eIisdGA9KzVOha5lLv8jrrDinA&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Quiz</h5>
                  <p class="card-text">Attemp a Quiz.</p>
                </div>
                <div class="card-body">
                  <a href="/all-quiz" class="card-link">Go</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="https://www.zohowebstatic.com/sites/default/files/cliq-primetime-banner-right.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Class</h5>
                  <p class="card-text">Join a Online Class.</p>
                </div>
                <div class="card-body">
                  <a href="/meet" class="card-link">Join</a>
                </div>
              </div>
            </div>
          </div>
        </div>

            </div>
          </div>
        </div>
    </div>
   <%- include("./partials/classes-footer.ejs"); -%>
