<%- include("../partials/admin-header.ejs"); -%>

<div class="container">
  <h3> Make Quiz and Upload </h3>
  <hr>
  <div class="row">

    <div class="col-sm-8">

      <form action="/quizQues" method="post">
        <label for="floatingInput">Enter Question</label>
          <div class="form-floating mb-3">
            <input type="text" name="question" class="form-control border" id="floatingInput" placeholder="Enter Question here">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label ">Option A</label>
            <input type="text" name="op1" class="form-control border" id="exampleInputPassword1">
          </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Option B</label>
            <input type="text" name="op2" class="form-control border" id="exampleInputPassword1">
          </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Option C</label>
            <input type="text" name="op3" class="form-control border" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Option D</label>
            <input type="text" name="op4" class="form-control border" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Correct Option</label>
            <input type="text" name="op4" class="form-control border" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
      </div>

      <div class="col-sm-4">
        <form action="/makeQuiz" method="post">
          <label for="floatingInput">Quiz Name</label>
            <div class="form-floating mb-3">
              <input type="text" name="quizName" class="form-control border" id="floatingInput" placeholder="Enter Question here">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label ">Quiz Time</label>
              <input type="text" name="time" class="form-control border" id="exampleInputPassword1">
              <hr>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>

  </div>

</div>






<%- include("../partials/admin-footer.ejs"); -%>
